In [1]:
# import libraries

import pandas as pd
import sqlite3

In [2]:
#install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\bhava\anaconda3\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (6.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.2.7)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: pickleshare in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: pygments in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: backcall in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: simplegeneric>0.8 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (39.1.0)
Requirement already satisfied: decorator in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: jedi>=0.10 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.12.0)
Requirement already satisfied: wcwidth in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.2.0 in c:\users\bhava\anaconda3\anaconda\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.0)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 21.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
#create a dataframe to import data for the tutorial

df= pd.DataFrame({'movie':['hello','ready','pizza','akhil','maska'],
                  'actress':['kalyani','genelia','remya','ayyesha','hansika'],
                  'director':['vikram.k','srinu.v','karthik','vinayak','gopal'],
                 'year' :[2017,2008,2012,2016,2009],
                 'actor':['akhil','ram','vijay.s','akhil','ram']})
df

   movie  actress  director  year    actor
0  hello  kalyani  vikram.k  2017    akhil
1  ready  genelia   srinu.v  2008      ram
2  pizza    remya   karthik  2012  vijay.s
3  akhil  ayyesha   vinayak  2016    akhil
4  maska  hansika     gopal  2009      ram